header, footer {
    background-color: #53DCC3; /* this adds a background colour on the footer and header */
}

header {
    font-family: "Lucida Console", "monospace"; /*adds the font for the header */
}

.right_bar {
    display: inline-block;

}

nav ul { /*basic nav css*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

body {
    background-color: #A0DCE9;
}

.slider { /*this is for the slider*/
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img { /*this sets the size and display of the image, its set to none so only one willl show at the sane time*/
    width: 100%;
    display:none;
}

img.displaySlide { /*this changes the display of the image being shown to be seen and adds an animation for the change*/
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button { /*css for the buttons*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsl(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.previous { /*sets the position for left*/
    left: 0;
}
.next { /*sets the position for right*/
    right: 0;
}

@keyframes fade { /* animation for slide change */
    from {opacity: .5}
    to {opacity: 1}
}