header, footer {
    background-color: #53DCC3; /* this adds a background colour on the footer and header */
}

header {
    font-family: "Lucida Console", "monospace";
}

.right_bar {
    display: inline-block;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

body {
    background-color: #A0DCE9;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display:none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsl(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.previous {
    left: 0;
}
.next {
    right: 0;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}